{{- with $.Site.Params.homeInfoParams }}
<div>
    {{- if .imageUrl -}}
    <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
        height="{{ .imageHeight | default 500 }}" width="{{ .imageWidth | default 500 }}" style="float:right" />
    {{- end }}
</div>
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>       
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
